<!-- views/partials/header.ejs -->

<!-- requires the req.user variable be set for all routes else the menu rendering fails. -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                EJS Is Fun
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/index">Home</a></li>
            <li><a href="/fishinglures">Fishing</a></li>
            <li><a href="/music">Music</a></li>
			<li><a href="/sheetmusic">Sheet Music</a></li>
			<li><a href="/ebooks">E-Books</a></li>
			<li><a href="/recipes">Recipes</a></li>
			<li><a href="/note">Notes</a></li>
            <li><a href="/signin">Sign In</a></li>
			<li><a href="/signout">Sign Out</a></li>
            
        </ul>
      
    </div>
</nav>