<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><% title %></title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<!-- Optional Bootstrap theme -->
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="css/holmestyle.css">

<!-- LINK IN GOOGLEAPIS FOR FONTS -->
<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Indie Flower">
<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Amatic+SC">		  

<style>
<!-- Overide stylesheet - Set padding at the top and background color. -->
<style> 
    body    { padding-top:10px; background-color: rgb(142, 177, 247); }
     
</style>