<!DOCTYPE html>

<html lang="en">
    <head>
         <% include ./partials/head %>
        <title>Fishing Lures</title>
    </head>
    <body class="container">
        <header>
        <% include ./partials/header %>
       </header>
<main>
  <div class="jumbotron">
  <h2>BIOPLASTIC FISHING LURES</h2>
...by Green Plastics
<p class="body"> 
</p>
<img alt="fishing lures" height="300" width="261" src="images/soft-plastic-fishing-lures-with-mold-300x261.jpg"></img>
One recipe for this material is described on p. 174 of the Green Plastics book.<br><b> The basic recipe is this: </b>
 <ul>
 <li>Combine 3.0 g (1/2 tsp) glycerol (ordinary drugstore variety)</li>
 <li>and 12.0 g (4 tsp) gelatin (ordinary supermarket unflavored gelatin)</li>
 <li> with 60 mL (1/4 cup) hot water.</li>
 <li>You can feel free to experiment with adding small amounts of food coloring, as well, if you would like.</li>
 <li>[This formula can be scaled up for larger amounts.]</li> 
</ul> 
  

<div class = "boxed">

Mix all of the ingredients together in the amounts above, and stir.
Keep mixing until there are no clumps, and heat the mixture to 95 C or to when it starts to froth (whichever comes first).
Stir the mixture while you are heating it, and once it is at the right temperature (or starts to froth), remove the heat and keep stirring.  Scoop out excess froth with a spoon, and make sure there are no clumps.
Pour the hot clear liquid (in the bottom of the mixture) directly into molds of the desired size and shape. When dry, remove the objects from the mold and trim as needed.
You may need to play around and experiment with the exact proportions to get the consistency that you want.  Remember this simple rule: If you want it to be harder, use less glycerol; if you want it to be softer, use more glycerol. It may take up to several days to dry completely, depending on the temperature and humidity of the air in the place where it is drying.
But your end result will be safe and biodegradable: and the material will eventually swell and completely biodegrade in the presence of microorganisms.
Good luck, happy experimenting … and happy fishing! 
</div>
</div>
</main>
 <footer>
        <% include ./partials/footer %>
 </footer>
    </body>
</html>
